extends layout

block content
	.jumbotron
		h1 Try something new
			p Weekly challenges you can integrate into everday life.
			a.btn.btn-primary.btn-lg(href='/signup', role='button') Join the community
			br
			a.btn.btn-default.btn-lg(href='/login', role='button') Login
